	    <div class="bsc_graph_col">
		  <div class="bsc_graph_cell"><%= bsc.formatted_update_date %></div>
		  <div class="bsc_graph_cell"><%= bsc.lower_limit %></div>
		  <div class="bsc_graph_cell"><%= bsc.value %></div>
		  <div class="bsc_graph_cell"><%= bsc['target'] %></div>
		  <div class="bsc_graph_cell"><%= bsc.upper_limit %></div>
		</div>
