Estimado <%= @first_name %> <%= @last_name %>,

La nueva clave para su cuenta en <%= APP_NAME %> para la empresa '<%=@enterprise_name%>' es la siguiente:

<%=@new_password%>

Puede acceder a su cuenta en http://<%=@domain%>