        <div id="highlightarea">
          <div id="cleararea">
            <%=get_html_content(@obj_page.page_path, 'contenido_comercial') %>
          </div>
        </div>
        <div id="cleararea">
          <%=get_html_content(@obj_page.page_path, 'contenido_demo') %>
        </div>