        <div class="Title24Orange" id="titlearea"><%= get_html_content(@obj_page.page_path, 'titulo') %></div>
        <div id="highlightareaAyuda">
          <div id="textareaAyuda">
            <%= render :partial => '/content/page_parts/faq_list' %>
          </div>
        </div>
