        <div class="Title24Orange" id="titlearea"><%=get_html_content(@obj_page.page_path, 'titulo') %></div>
        <div id="highlightareaAyuda">
          <div id="textarea">
            <%= get_html_content(@obj_page.page_path, 'texto') %>
            <br/>
            <%= get_component('login_form') %>
            <br/><br/>
            <%=get_html_content(@obj_page.page_path, 'texto_recordar') %>
          </div>
        </div>
