        <div class="Title24Orange" id="titlearea"><%= get_html_content(@obj_page.page_path, 'titulo') %></div>
        <div id="highlightareaAyuda">
          <div id="cleararea">
            <%=get_html_content(@obj_page.page_path, 'contenido') %>
          </div>
        </div>
